
html{
    position:relative;
  
}
body{
    background-image:url('Math.png'); 
    height: 100vh;
    padding:0;
    margin:0;
}

container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator{
    width: 400px;
    border: 2px #333 solid;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    background-color: rgb(185, 212, 185);
   
}
.Display{
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #eee;
}

.inputOne{
    min-height:30px;
    font-size: 17px;
}
.inputTwo{
    min-height: 60px;
    font-size: 38px;
    
}
.reset{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.Numbers{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
    justify-content: center;
    background-color: #aaa;
    padding-top: 10px;
}

button{
    padding:2px;
    border: 2px #333 solid;
    border-radius: 5px;
    font-size: 20px;
    background-color: #eee;
   
}

.clear{
    background-color: red;
}
.delete{
    background-color: pink;
}
.operator {
    background-color:royalblue
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    gap: 10px;
  }

